div.footer #copyright 
{
    position: relative;
    margin-left: 1.2%;
    width: 22%;
    float: left;
    top: 1px;
    color: #888888;
    font-weight: bold;
}

div.footerwrapper
{
    display: inline-block;
    position: relative;
    width: 54%;
    margin: 0 auto;
}

div.footer #license
{
    position: relative;
    float: right;
    margin: 0;
    margin-top: -7px;
    margin-right: 3.2%;
    width: 88px;
    height: 31px;
    background: url('cc.png') no-repeat;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

div.footer #copyright:hover
{
    color: #333333;
}

div.footer #license:hover
{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

div.footerwrapper #mail
{
    position: absolute;
    top: 2px;
    left: 0px;
    width: 27px; 
    height: 18px;
    background: url('gmail.png') no-repeat;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

div.footerwrapper #mail:hover
{
    -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
    filter: grayscale(0);
    /* filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); */
    /* -moz-opacity: 0.8; */
    /* opacity: 0.8; */
}

div.footerwrapper a.contacticon
{
    position: absolute;
    top: 2px;
    width: 27px; 
    height: 18px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

div.footerwrapper a.contacticon:hover {
    -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
    filter: grayscale(0);
    /* filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); */
    /* -moz-opacity: 0.8; */
    /* opacity: 0.8; */
}
div.footerwrapper #wechatc {
    left: 35px;
    background: url('wechat.png') no-repeat;
}
div.footerwrapper #weixinc {
    left: 68px;
    background: url('weixin.png') no-repeat;
}
div.footerwrapper #linkedinc {
    left: 101px;
    background: url('linkedin.png') no-repeat;
}

/* popup */
.popup{
    position:fixed;
    left:15vw;
    /* margin-left:35px; */
    top:90vh;
    margin-top:-20px;
    opacity:0;
    transition: 1s;
    -webkit-transition: 1s;
    /* --------- */
    width:200px;
    font-size:20px;
    padding:5px;
    color:white;
    text-align:center;
}

a#wechatc:hover + div.popup#wechatp {
    margin-top:-215px;
    opacity:1;
}

a#weixinc:hover + div.popup#weixinp {
    margin-top:-215px;
    opacity:1;
}
a#linkedinc:hover + div.popup#linkedinp {
    margin-top:-215px;
    opacity:1;
}